<!doctype html>
{% load static %}
<html lang = "en">
<head>
    <!-- Required meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport"
          content = "width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel = "stylesheet"
          href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
          integrity = "sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE"
          crossorigin = "anonymous">
    <link rel = "stylesheet"
          href = "{% static '/css/style.css' %}">

    <title> {% block title_page %} {{ title }} {% endblock %}</title>
</head>
<body>

{% include "inc_files/_navbar.html" %}

<div class = "container mt-3">
    <div style = "text-align: center;">
        <h1> {% block title %} News {% endblock %} </h1>
    </div>

    <div class = "row">
        {% block cats %} {% endblock %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class = "alert alert-danger"
                         role = "alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class = "alert alert-{{ message.tags }}"
                         role = "alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %} Main content {% endblock %}

    </div>
</div>

<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity = "sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin = "anonymous"></script>

</body>
</html>